*{
    padding: 0;
    margin: 0;
    width: 10px;
    height: 10px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --black-color: #000000;
    --back-color:	#00252e;
    --color-primary: 	#ebfbff;
    --color-secondary: 	#ff52bf;
    --font-header: 'Poppins', sans-serif;
    --font-body: 'Open Sans', sans-serif;
}

/*header*/
.header {
    width: 100vw;
    height: 5rem;
    margin-bottom: 16px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
}

.header__content_thumbnail {
    width: 12rem;
    height: 2rem;
    margin: 10px 10px 0;
}

.header__img {
    width: 100%;
    height: 100%;
}

.button {
    width: 10rem;
    height: 2.5rem;
    margin: 10px 10px;
    display: block;
    background-color: blue;
    border-radius: 5px;
    text-decoration: none;
}
.button__text {
    width: 8rem;
    min-height: 1rem;
    text-align: center;
    margin: 5px 10px;
}

.button--header {
    background-color: var(--color-primary);
    border-radius: 20px;
    box-shadow: 1px 0px 11px 2px rgba(184,182,184,1);
}

.button__text--text_header {
    font-size: 1.2rem;
    color: var(--font-color);
    font-weight: 700;
}
/*content*/
main {
    width: 100vw;
    min-height: 140rem;
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*content style generally*/
.content {
    width: 100%;
    flex-basis: 50rem;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__information {
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content__tittle {
    width: 20rem;
    height: 2rem;
    margin-bottom: 24px;
    text-align: center;
    font-size: 1.8rem;
    font-family: var(--font-header);
}

.content__paragraph {
    width: 20rem;
    height: 2.5rem;
    margin: 10px auto;
    text-align: center;
    font-family: var(--font-body);
    font-weight: 400;
}

.content__thumbnail_content {
    width: 25rem;
    height: 20rem;
}

.content__image {
    width: 100%;
    height: 100%;
}
/*content style generally*/

/*section one*/
.content--one {
    background-image: url('../images/bg-hero-mobile.svg');
}

.content__information--one {
    height: 15rem;
}

.content__title--start-free, .content__paragraph--start-free {
    margin-bottom: 30px;
}

.button--start_free {
    width: 15rem;
    height: 2.8rem;
    margin: 18px 0;
    border-radius: 25px;
    background-color: var(--color-secondary);
}

.button__text--start_free {
    width: 12rem;
    min-width: 1.5rem;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
    color: var(--color-primary);
    font-weight: 700;
}
/*section one*/

/*section two, three, and four*/
.content__thumbnail_content--two, .content__thumbnail_content--three,
.content__thumbnail_content--four{
    order: -1;
}
/*footer*/
.footer {
    width: 100vw;
    height: 50rem;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--back-color);
}

.footer__question {
    width: 35rem;
    height: 10rem;
    background-color: var(--color-primary);
    position: absolute;
    z-index: 1;
    left: 12px;
    top: -20px;
    border-radius: 5px;
}
.footer__title {
    width: 25rem;
    height: 6rem;
    text-align: center;
    color: var(--black-color);
    padding: 14px;
    margin: auto;
}

.button--footer {
    width: 18rem;
    height: 4rem;
    background-color: var(--color-secondary);
    margin: 5px 84px;
    position: absolute;
    top: 30px;
    border-radius: 30px;
}

.button__text--footer {
    width: 10rem;
    height: 2rem;
    color: white;
    margin: 10px 42px;
    padding: 4px;
    font-size: 1rem;
}
.footer__information {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}
.footer__image_content {
    width: 16rem;
    height: 3rem;
    margin-top: 15px;
    margin-left: 15px;
    background-color: var(--color-primary);
}

.footer__image {
    width: 100%;
    height: 100%;
}

.footer__contact {
    width: 10rem;
    height: 10rem;
    margin: 10px 0 25px 15px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    list-style: none;
    font-family: var(--font-body);
}
.footer__phone, 
.footer__email {
    width: 35rem;
    height: 4rem;
    margin-bottom: 0;
    font-size: 1.5rem;
    text-align: justify;
    color: var(--color-primary);
}
.footer__location {
    width: 30rem;
    height: 4rem;
    margin-bottom: 50px;
    font-size: 1.5rem;
    text-align: justify;
    color: var(--color-primary);
}

.footer__logo_location, .footer__logo_phone,
.footer__logo_email {
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
}

.footer__logo_location img, .footer__logo_phone img,
.footer__logo_email img {
    width: 100%;
    height: 100%;
}

.footer__items {
    width: 10rem;
    height: 8rem;
    display: flex;
    margin: 5px 0 30px 0;
    margin-left: 15px;
    flex-direction: column;

}
.footer__items  p {
    width: 100%;
    height: 2rem;
    margin-bottom: 5px;
    color: var(--color-primary);
    font-family: var(--font-body);
    font-size: 1.2rem;
}
.footer__social_media {
    width: 10rem;
    height: 5rem;
    display: flex;
    flex-direction: column;
}

.footer__logo_social_media {
    width: 40rem;
    height: 15rem;
    display: flex;
    justify-content: center;
}

.footer__logo_social_media div {
    width: 5rem;
    height: 5rem;
    margin: 0 5px;
    border-radius: 50%;
    border: 1px solid var(--color-primary);
}

.footer__logo_social_media div {
    color: var(--color-primary);
    font-size: 2rem;
    padding: 14px 15px;
}



.footer__copyrigth {
    width: 28rem;
    height: 2rem;
    margin: 10px 60px;
    color: var(--color-primary);
    font-family: var(--font-body);
}

