*{
    padding: 0;
    margin: 0;
    width: 10px;
    height: 10px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --font-color:	#00252e;
    --color-primary: 	#ebfbff;
    --color-secondary: 	#ff52bf;
}

/*header*/
.header {
    width: 100vw;
    height: 5rem;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
}

.header__content_thumbnail {
    width: 12rem;
    height: 2rem;
    margin: 10px 10px 0;
}

.header__img {
    width: 100%;
    height: 100%;
}

.button {
    width: 10rem;
    height: 2.5rem;
    margin: 10px 10px;
    display: block;
    background-color: blue;
    border-radius: 5px;
    text-decoration: none;
}
.button__text {
    width: 8rem;
    min-height: 1rem;
    text-align: center;
    margin: 5px 10px;
}

.button--header {
    background-color: var(--color-primary);
    border-radius: 20px;
    box-shadow: 1px 0px 11px 2px rgba(184,182,184,1);
}

.button__text--text_header {
    font-size: 1.2rem;
    color: var(--font-color);
    font-weight: 700;
}
/*content*/
main {
    width: 100vw;
    min-height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*content style generally*/
.content {
    width: 100%;
    height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__information {
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content__tittle {
    width: 20rem;
    height: 2rem;
    text-align: center;
    font-size: 1.8rem;
}

.content__paragraph {
    width: 20rem;
    height: 2.5rem;
    margin: 10px auto;
    text-align: center;
}

.content__thumbnail_content {
    width: 25rem;
    height: 20rem;
}

.content__image {
    width: 100%;
    height: 100%;
}
/*content style generally*/

/*section one*/
.content__information--one {
    height: 15rem;
}

.content__title--start-free, .content__paragraph--start-free {
    margin-bottom: 15px;
}

.button--start_free {
    width: 15rem;
    height: 2.8rem;
    border-radius: 25px;
    background-color: var(--color-secondary);
}

.button__text--start_free {
    width: 12rem;
    min-width: 1.5rem;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
    color: var(--color-primary);
    font-weight: 700;
}
/*section one*/
/*section two*/
.content__thumbnail_content--two {
    order: -1;
}
/*section two*/
/*section three*/
.content__thumbnail_content--three {
    order: -1;
}
/*section three*/
/*section four*/
.content__thumbnail_content--four {
    order: -1;
}
/*section four*/